html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 200%;
  font-family: "Roboto", sans-serif;
  background-color: #3f435f;
  background: url('/static/img/bck.png');
}

.content{
	background:white;
	min-height: 500px;
	padding:30px;
}