
@import url(http://fonts.googleapis.com/css?family=Roboto);

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 200%;
  font-family: "Roboto", sans-serif;
  background: #eee;//#59afe1;
  /*background: url('/static/img/bck.png');*/
}

.content{
	background:white;
	min-height: 500px;
	padding:30px;
}


/* Home page */
.feed-cards{
	background: white;
	margin-bottom: 30px;
}

.feed-cards>img{
	
}

