{% extends "base.html" %}

{% block head %}
	
	<style>
	  .small{
	  	font-size: 20px;
	  }
	  
	</style>
{% endblock %}
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
{% block content %}
	{% for i in arr[:3]%}
		<div class="result">
			<a href="{{i["link"]}}" target="blank">{{i["title"]}}</a>
		</div>
	{%endfor%}

    <br>

    {% for i in data %}
        <div class="result">
				<a class="embedly-card" href="https://www.youtube.com/watch?v={{ i[0] }}">{{i[1]}}</a>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

			</div>
    {% endfor %}
	
{% endblock %}

{% block script %}

{% endblock %}
