{% extends "base.html" %}


{% block title %}Index{% endblock %}


{% block content %}

  <a href="/upload">
    <button class="btn btn-lg">
  </a>

  {% for i in arr %}
      <div class="row post">
        <div class="col-md-12">
          <i id="upvote-icon" class="fa fa-sort-asc"></i>
          <a href="/view/{{i.id}}">
            <p class="title">{{i.content}}</p>
          </a>
          <i id="flag-icon" class="fa fa-flag"></i>
          <hr>
        </div>
      </div>
  {%endfor%}


{% endblock %}
