{% extends 'base.html' %}

{% block head %}
<style>
	  .small{
	  	font-size: 20px;
	  }

</style>
{% endblock %}
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
{% block content %}

<p class="small"><a href="/">Back to Home</a> </p>

<div>

	 <form id="login_form" class="form-horizontal" enctype="multipart/form-data" action='/submit' method='POST'>

    <h2 id="form_title">Register</h2>
    <div class="form-group">
        <input id="name" type="text" name='name' class="form-control" placeholder="name" required="True"><br>
        <input id="user_email" type="text" name='user_email' class="form-control" placeholder="e-mail" required="True"><br>
        <input id="user_password" type="password" name='user_password' class="form-control" placeholder="password" required="True"><br>
        <input id="authData" type="" name='authData' class="form-control"  style="visibility: hidden"><br>
    </div>
    <br>
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>

  <hr>
    <form id="login_form" class="form-horizontal" enctype="multipart/form-data" action='/login/facebook' method='GET'>
      <button type="submit" class="btn btn-primary">Sign up with Facebook</button>
    </form>
    <form id="login_form" class="form-horizontal" enctype="multipart/form-data" action='/login/twitter' method='GET'>
      <button type="submit" class="btn btn-primary">Sign up with Twitter</button>
    </form>

      
</div>

<hr class="sep">

{% endblock %}

{% block script %}

{% endblock %}
