{% extends "base.html" %}


{% block title %}Index{% endblock %}


{% block content %}

    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Giveaway <span class="sr-only">(current)</span></a></li>
        <li><a href="/giveaway/upload">Upload</a></li>
       </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <button class="btn btn-lg">

  {% for i in obj %}
      <div class="row post">
        <div class="col-md-12">
          <i id="upvote-icon" class="fa fa-sort-asc"></i>
          <p class="title">{{ i.listingName }}</p>
            <p>{{ i.listingDesc }}</p>
            <p><img src="{{ i.image.url }}"></p>
            <p>Owner Name : {{ i.ownerName }}</p>
            <p>Contact : {{ i.mobile }}</p>

          <i id="flag-icon" class="fa fa-flag"></i>
          <hr>
        </div>
      </div>
  {%endfor%}
</button>

{% endblock %}
