{% extends "base.html" %}

{% block content %}
	<!-- {{data}} -->
	{% for post in data %}
		{{post.img}}
	 	<div class="feed-cards"><!-- still waiting for the day I'll get correct style without writing inline css -->
			<div class="row">
			  
			  <div class="col-md-4">
			  	<img class="responsive-img materialboxed" data-caption="CSS3 Image" src="http://www.thedrum.com/uploads/drum_basic_article/156824/main_images/ManchesterUnitedLogo_0.png" />
			  </div>

			  <div class="col-md-8">
			  	<a href="{{ post.url }}"><p>{{ post.title }}</p></a>
			  </div>

			</div>
			
		</div>
	{% endfor %}
 	<p></p>
 	{% for message in get_flashed_messages() %}
 	    <p><b>Error</b>: {{ message }}</p>
 	{% endfor %}
 	
{% endblock %}

{% block script %}

{% endblock %}
