<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="/static/css/style-landing.css"> <!-- Resource style -->

	<script src="/static/js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>LearnHut.com</title>
</head>
<body>
	<header class="cd-header">
		<a href="/">
			<div id="cd-logo"><img src="/static/img/logo.png" alt="Logo" style="height:60px,width:60px"></div>
		</a>		
		<div id="cd-action"><a href="https://play.google.com/store/apps/details?id=in.tosc.studddin" class="btn">Download App</a></div>
	</header>

	<main class="cd-main-content">
		<div class="cd-product-intro">
			<h1>LearnHut.com</h1>
			<p>Learning made Open,fun and accessible to all.</p>

			<p>Click on the "Learn More" button to see the animated tour.</p>
			<div class="cd-triggers">
				<a href="https://play.google.com/store/apps/details?id=com.tosc.studddin" class="btn">Download</a>
				<a href="#cd-product-tour" class="btn salmon" data-type="cd-tour">Learn More</a>
			</div>
			<br><br><br>
			<a href="/home">
				<p class="continue">Continue to Website</p>
			</a>
		</div> <!-- cd-product-intro -->


		<div id="cd-product-tour">
			<ul>
				<li class="cd-single-item cd-active">
					<div class="cd-caption">
						<h2>Discover interesting Students,Notes,Events in and around your place</h2>
						<p>Connect with interesting students locally.Social Study made possible !!</p>
					</div>
					<div class="cd-image-container">
						<div>
							<div class="cd-phone-frame"></div>
							<div class="cd-image-wrapper">
								<img src="/static/img/screen_1.png" data-video="video/video-1" alt="Screen Preview 1">
							</div>
						</div>
					</div>
				</li>

				
				<li class="cd-single-item cd-not-visible cd-move-right">
					<div class="cd-caption">
						<h2>Academic Search Engine</h2>
						<p> Search the academic internet, in your own local language. </p>
					</div>
					<div class="cd-image-container">
						<div>
							<div class="cd-phone-frame"></div>
							<div class="cd-image-wrapper">
								<img src="/static/img/screen_2.png" data-video="video/video-2" alt="Screen Preview 2">
							</div>
						</div>
					</div>
				</li>
				<li class="cd-single-item cd-not-visible cd-move-right">
					<div class="cd-caption">
						<h2>GyanDaan</h2>
						<p>Donate old books,bags and other accessories, to other people using the app. Share for Karma.</p>
						<a href="">
							<p class="continue">Continue to Website</p>
						</a>
					</div>
					<div class="cd-image-container">
						<div>
							<div class="cd-phone-frame"></div>
							<div class="cd-image-wrapper">
								<img src="/static/img/screen_3.png" data-video="video/video-3" alt="Screen Preview 3">
							</div>
						</div>
					</div>
				</li>
				
			</ul>
		</div> <!-- cd-product-tour -->

		<div class="cd-slider-nav">
			<a class="cd-prev" href="#0">Previous</a>
			<a class="cd-next" href="#0">Next</a>
		</div> <!-- cd-slider-nav -->

		<div class="cd-loader"></div> <!-- top loading bar -->
	</main>
<script src="/static/js/jquery-2.1.1.js"></script>
<script src="/static/js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>