{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-notes-page.css') }}">

{% endblock %}

{% block content %}
    
    {% if notes.subjectName %}
       <h1>{{ notes.subjectName }}</h1>
       <h2 align="center">{{ notes.topicName }}</h2>
       <h4>User : {{ notes.userName }}</h4><br>

           <div id="metro-array" style="display: inline-block;">

               {% for i in notes.notesImages %}
                   <div style="width: 517px; height: 600px; float: left; margin-left: 10px; border: double; background-image: url('/static/img/bck.png'); font-size: 15px; margin-bottom: 15px;">
                       <p align="center" style="margin-bottom: 0px; font-size: 20px;">{{ notes.subjectName }}</p><p align="center" style="margin-top: 0px; margin-bottom: 0px">{{ i.topicName }}</p>
                       <div class="metro-tile" style="cursor: pointer; width: 460px; height: 546px; display: block; border: solid;  margin-left: 25px">
                           <img src="{{ i['url'] }}" style="width: 454px; height: 540px">
                    </div>

                </div>
               {% endfor %}

        </div>

    {% else %}
        <h1>Notes Page</h1>

            <div id="metro-array" style="display: inline-block;">

                {% for i in notes %}
                    <div style="width: 257px; height: 295px; float: left; margin-left: 10px; border: double; background-image: url('/static/img/bck.png'); font-size: 15px;">
                        <p align="center" style="margin-bottom: 0px; font-size: 20px;">{{ i.subjectName }}</p><p align="center" style="margin-top: 0px; margin-bottom: 0px">{{ i.topicName }}</p>
                        <div class="metro-tile" style="cursor: pointer; width: 230px; height: 230px; display: block; border: solid;  margin-left: 10px">
                            <a href="/notes/{{ i.objectId }}"><img src="{{ i.notesImages[0]['url'] }}" style="width: 224px; height: 224px" id="note"></a>
                        </div>

                    </div>
                {% endfor %}

            </div>
    {% endif %}


    
 	
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/tileJs.js') }}" type="text/javascript"></script>
{% endblock %}